#about {
    background-color: rgba(77, 169, 229, 1);
    min-height: 100vh;
    padding: 40px 20px 80px 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}
.about-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items:center;
    justify-content: center;
    margin: 70px 50px;
    padding: 40px;
}

.about-title {
    color: white;
    font-size: 96px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.about-row{
    display:flex;
    flex-direction: row;
    gap:40px;
    align-items: center;
    justify-content: center;
}

.about-img{
    width: 100%;
    max-width: 200px;
    height: auto; 
    margin: 10px 10px 10px 80px;
}

.about-text{
    max-width: 600px;
    line-height: 1.6;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
}